.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 2px solid red;
  flex-wrap: wrap;
}

.body{
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 2px solid blue;
  padding-top: 5%;
  flex-wrap: wrap;
}
.player1 {
  width:  10%;
  height: 40%;
  border: 2px solid black;
}

.gameboard {
  width: 40%;
  height: 80%;
  padding: 1%;
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: skyblue;
}

.slotRow {
 /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid red;
  width: 12%;
  height: 100%;*/
}

.slot {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50%;
  background-color: pink;
  padding: 2%;
  width: 10%;
  height: 10%;

}

.red {
  background-color: red;

}

.yellow{
  background-color: yellow;
}
.player2{
  width: 10%;
  height: 40%;
  border: 2px solid black;
}

.footer{
  height: 20%;
  width: 100%;
  display: flex;
  border: 2px solid yellow;
  justify-content: center;
}

.newgame{
  width: 10%;
  height: 30%;
  border: 2px solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
}


