.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /*border: 2px solid red;*/
    flex-wrap: wrap;
}


body{
  /*background-color: white;*/
  background: linear-gradient(270deg, #18f0b8, #18a2f0, #db5640);
  background-size: 600% 600%;
}

.header{
   /* font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: #995555;*/
    content: url('./connect4logo.png');
    width: 400px;
    height: 100px;
}
.body {
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /*border: 2px solid blue;*/
    padding-top: 5%;
    flex-wrap: wrap;

}

.player1 {
    width: 20%;
    height: 40%;
    /*border: 2px solid black;*/
    /*border-radius: 5px;*/
    /*background-color: white;*/
    font-family: 'VT323', monospace;
    font-size: 50px;
    color: black;
}

.gameboard {
    width: 40%;
    height: 80%;
    padding: 1%;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #DB7A7A;
}

.slotRow {
    /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid red;
  width: 12%;
  height: 100%;*/
}

.slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
    padding: 2%;
    width: 10%;
    height: 10%;
}

.red {
    background-color: #735454;
}

.yellow {
    background-color: #2e2121;
}

.player2 {
    width: 20%;
    height: 40%;
    /*border: 2px solid black;*/
    /*border-radius: 5px;*/
    /*background-color: white;*/
   font-family: 'VT323', monospace;
    font-size: 50px;
    color: black;
}

.footer {
    height: 5%;
    width: 100%;
    display: flex;
    /*border: 2px solid yellow;*/
    justify-content: center;
}

.newgame {
    width: 10%;
    height: 30%;
    /*border: 2px solid pink;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner {

}

@media (max-width: 800px) {
  .player1{
    display: none;
  }
  .player2{
    display: none;
  }
}

